.facebook,
.pinterest,
.instagram {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 40px;
	border-radius: 5px;
	color: aliceblue;
	transition: background-color 0.3s;
	text-decoration: none;
	margin: 5px;
	font-weight: 500;
}

.facebook {
	background-color: #3b5998;
}

.facebook:hover {
	background-color: #2d4373;
}

.pinterest {
	background-color: #bd081c;
}

.pinterest:hover {
	background-color: #8c0615;
}

.instagram {
	background-color: #e4405f;
	color:black;
}

.instagram:hover {
	background-color: #d6244f;
}
.socialNetworkSection {
	display: flex; /* Utilisez flexbox pour centrer l'image */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    padding: 0 10px; /* Padding pour ne pas coller aux autres sections */
    flex-direction: column;
}

@media (min-width: 701px) and (max-width: 900px) {
	.facebook,
.pinterest,
.instagram {
	width: 180px;
	height: 36px;
}
  }

  @media (max-width: 700px) {
	.facebook,
.pinterest,
.instagram {
	width: 300px;
	height: 40px;
}
  }