.imgBanniere {
    width: 100%;
}

.googleMap {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    max-height: 300px;
    border: 0!important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: black;
}
.GoogleMApContainer {
    max-height: 300px;
}
.travel {
    margin: 20px;
}
.underline {
    text-decoration: underline;
}

/* CAROUSEL */
.sliderContainer {
    background-color: black;
    padding: 20px 0;
   
}
.sliderHeading1 {
    color: aliceblue;
    background-color: black;
}
.indexInfo {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

/* Conteneur principal du carrousel */
.slider {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 1200px;
    width: 100%;
    max-height: 400px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
}

/* Affichage de la description de l'image actuelle */
.imageInfo {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px; /* Espacement entre la description et l'image */
    width: 400px; 
    text-align: center;
}


/* Image actuelle du carrousel */
.sliderImg {
    display: block;
    border-radius: 50%;
}

/* Styles de base pour les boutons de navigation */
.navigationButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centrer verticalement */
    background-color: rgba(0, 0, 0, 1); /* Fond semi-transparent noir */
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%; /* Rendre le bouton circulaire */
}

/* Bouton pour naviguer vers l'image précédente */
.prevButton {
    left: 10px; 
    width: 40px;
    height: 40px;

}

/* Bouton pour naviguer vers l'image suivante */
.nextButton {
    right: 10px; 
    width: 40px;
    height: 40px;
}

/* Icônes de flèche pour les boutons */
.navigationButton img {
    display: block;
    width: 100%;
    height: auto;
}

/* Conteneur pour l'image et le texte */
.imageContainer {
    display: flex;
    align-items: center; 
}
/* ... Vos autres styles ... */

/* Conteneur pour l'image et le texte */
.contentContainer {
    display: flex;
    align-items: center; /* Aligner verticalement au centre */
}

/* Conteneur pour le nom et le métier */
.textContainer {
    margin-left: 20px; /* Espacement entre l'image et le texte */
}

/* Affichage des étoiles */
.stars {
    text-align: center;
    font-size: 24px;
    color: gold;
    margin-top: 10px;
}

/* Affichage du nom */
.name {
    font-weight: bold;
    color: lightgray;
    margin-bottom: 5px; /* Espacement entre le nom et le métier */
}

/* Affichage du métier */
.job {
    color: grey; /* Vous pouvez ajuster la couleur selon vos préférences */
}
