.footer {
    background-color: black; /* Couleur de fond du footer */
    color:aliceblue; /* Couleur du texte */
    padding: 5px 0; /* Padding vertical */
  }
  
  .footerTop {
    display: flex;
    justify-content: space-around; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-bottom: 5px; /* Espace en dessous de la première partie */
  }  
  
  .footerBottom {
    text-align: center; /* Centrage du texte */
    padding: 5px 10%; /* Padding horizontal */
    border-top: 1px solid #dee2e6; /* Ligne de séparation */
  }
  .imgLettreOr {
    width: 300px;
    height: auto;
  }

  .footerTown {
    color: gray;
    text-decoration: none;
  }
  .footerTown:hover {
    color: lightgray;
  }

  @media (min-width: 701px) and (max-width: 900px) {
    .imgLettreOr {
      width: 270px;
    }
  }

  @media (max-width: 700px) {
    .footerTop {
flex-direction: column;
    }  
    .imgLettreOr {
      width: 300px;
      margin: 10px 0;
    }
  }
  